.App {
  position: relative;
  width: 360px;
  margin: auto;
  background-color: var(--body-bg-color);
  box-shadow: 1px 1px 5px 5px #efefef;
}

.header {
  display: flex;
  height: 70px;
  align-items: center;
  padding: 10px;
  justify-content: space-between;
}

.header__logo {
  height: 50px;
  font-size: 18px;
  line-height: 44px;
  color: var(--body-font-color);
}

.header__history,
.header__theme {
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.header__history > svg,
.header__theme > svg {
  fill: var(--body-font-color);
}

.header__theme:hover,
.header__history:hover {
  background-color: var(--btn-active-color);
}

.calc {
  height: 600px;
  padding: 15px;
}

.calc__result {
  height: 50px;
  text-align: end;
  font-size: 40px;
  color: var(--body-font-color);
}

.calc__display {
  height: 150px;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #fafafa;
  text-align: end;
  font-size: 24px;
  word-break: break-all;
  color: #aaaaaa;
}

.calc__pad {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px 12px;
}

.calc__paditem {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background-color: var(--btn-bg-color);
  border: 1px solid var(--btn-border-color);
  height: 60px;
  font-size: 24px;
  color: var(--body-font-color);
  cursor: pointer;
}

.calc__paditem:active {
  background-color: var(--btn-active-color);
}

.calc__paditem:nth-child(1),
.calc__paditem:nth-child(2),
.calc__paditem:nth-child(3),
.calc__paditem:nth-child(4n) {
  color: var(--primary-color);
}

.calc__paditem:last-child {
  color: #ffffff;
  background-color: var(--primary-color);
}

.history {
  position: absolute;
  overflow-y: auto;
  width: 100%;
  height: 600px;
  background-color: white;
}

.history__header {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
}

.history__headline {
  font-weight: bold;
}

.history__reset {
  color: blue;
}

.history__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px 20px;
  border-bottom: 1px solid #eaeaea;
}

.history__expression {
  color: #aaaaaa;
  font-size: 14px;
}

.history__result {
  color: black;
  font-size: 24px;
}
